.trend__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.trend-country {
  margin-bottom: 2px;
  font-family: "Segoe UI";
  font-size: 16px;
  line-height: 16px;
  color: #393b41;
  opacity: 0.6;
}

.trend__item-heading {
  margin-bottom: 3px;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #000000;
}

.trend__tweets-count {
  font-family: "Segoe UI";
  font-size: 16px;
  line-height: 18px;
  color: #393b41;
  opacity: 0.6;
}

.trend__more-btn {
  display: block;
  padding: 10px;
  margin-top: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
