.menu {
  // position: relative;
  width: 100%;
  max-width: 373px;
  // max-height: 100%;
  // margin-left: 28px;
  padding: 18px 28px;
  padding-bottom: 0;
}

.footer {
  width: 100%;
  max-width: 347px;
  display: flex;
  flex-direction: column;
}

.privacy-links,
.copyright-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 18px;
  color: #536471;
  text-decoration: none;
}

.dark .footer-link {
  color: rgb(243, 240, 240);
}
