.search-input {
  width: 100%;
  max-width: 373px;
  margin-bottom: 16px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 64px;
  padding-right: 10px;
  background-color: #eff3f4;
  border: none;
  border-radius: 31px;
  outline: none;
  font-family: "Segoe UI";
  font-size: 16px;
  line-height: 20px;
  color: #5c6c79;
}

.search__label {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(20px) translateY(-4px);
  width: 22px;
  height: 22px;
}
